body {

	max-width: 1630px;
	margin: 0 auto; 
	font-family: Roboto;
}
div {
	padding: 5px 10px;
}
h3 {
	text-align: right;
	color: white;
	font-weight:300;
	font-size: 12pt;
}
h1{
	text-align: left;
	color: white;
}
h2{
	font-weight:bold;
	font-size: 23pt;
	text-align: center;
}
ul{
  text-align: left;
}
ul > li{
  display: inline-block;
}
ul > li a{
	
  display: block;
  text-decoration: none;
  position: relative;
  color: white
}
ul > li a:before{
  content: '|';  
}
ul > li:first-child a:before{
  content: ' ';
  float : left
}
.header {
	margin-top: 0px;
	background: #5386a1;
	line-height: 25px;
	text-align: center;
	margin-bottom: 25px;
}
.leftbar {
	background: #b3a48c;
	left: 140px;
	height: 808px;
	min-width: 380px;
	position: absolute ;
}
.logo {
    float: left;
    height: 80px;
}

.rightbar {
	background: #6B8E23;
	right: 140px;
	height: 808px;
	min-width: 380px;
	position: absolute ;
}
.centerbar {
	background: #1234;
	height: 808px;
	margin-left: auto;
    margin-right: auto;
	width: 700px;
}
.footer {
	background: #800080;
	bottom: 0;
	width: 100%;
	margin-top: 25px;
	line-height: 30px;
	max-width: 1610px;
}
.footer-left{
	display: inline-block;
}
.footer-right{
	display: inline-block;
	float: right;
}
}
clearfix {
	clear: both;
}